<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NJKWebViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20B7D32B1C40EC150039957C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B7D3471C40EC150039957C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B7D3521C40EC150039957C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
